footer {
    @include FlexBox (center, center, column);
    gap: 2rem;
    background-color: $color-black;
    padding: 4rem;

    .content {
        width: 100%;
        @include FlexGrid (4, 1fr);
        border: solid red;

        .sessao {


            .title {
                font-size: $size-base;
                font-weight: $weight-semibold;
                color: $color-gray-dark;
            }

            .desc {
                @include FlexBox (start, flex-start, column);
                a {
                    color:$color-footer-dark;
                    font-size: $size-smaller;
                    font-weight: $weight-medium;
                }
            }
        }
    }

    .separador {
        height: 1px;
        width: 100%;
        background-color: $color-footer-dark;
        opacity: .65;

    }

    .copy {
        color: $color-footer-dark;
        font-size: $size-smallito;
    }
}