@charset "UTF-8";
/*======================================== IMPORTS ======================================== */
/* TIPO DE LETRA */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* OUTROS */
/*======================================== FONT FAMILY ======================================== */
/*======================================== FONT WEIGHT ======================================== */
/*======================================== FONT SIZE ======================================== */
/* 16px */
/* 14px */
/* 15px */
/* 20px */
/* 24px */
/* 28px */
/* 32px */
/* 32px */
/*======================================== BOX SHADOW ======================================== */
/*======================================== RADIUS BORDER ======================================== */
/*======================================== Z-INDEX ======================================== */
/*======================================== COLORES ======================================== */
/* GRAY */
/* WHITE */
/* BLACK */
/* BLACK FOOTER */
/* PRINCIPAIS */
/* OTHERS */
/* KINO CORES EXTRAÍDAS DO LOGO */
/*======================================== TAGS PRINCIPAIS ======================================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", serif;
  font-size: 16px;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

li {
  list-style: none;
}

h1,
h2 {
  font-family: "Poppins", serif;
}

/*======================================== CLASSES PRINCIPAIS ======================================== */
.btn-p-1 {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #DEBB3B;
  border-radius: 5px;
  color: #FFFFFF;
  transition: 0.4s;
}
.btn-p-1:hover {
  opacity: 0.65;
}

.btn-p-2, header .extras .link-login {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #D90404;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.4s;
}
.btn-p-2:hover, header .extras .link-login:hover {
  scale: 1.03;
  background-color: #c70000;
}

.btn-p-3 {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #D90404;
  cursor: pointer;
  transition: 0.4s;
}
.btn-p-3:hover {
  scale: 1.02;
}

.btn-c {
  padding: 0.5rem 1rem;
  outline: 1px solid #858585;
  background-color: transparent;
  border-radius: 5px;
  color: #858585;
  cursor: pointer;
  transition: 0.4s;
}
.btn-c:hover {
  color: #FFFFFF;
  background-color: #858585;
}

.btn-s {
  padding: 0.5rem 1rem;
  border: 1px solid #D90404;
  background-color: transparent;
  border-radius: 5px;
  color: #D90404;
  transition: 0.4s;
}
.btn-s:hover {
  color: #FFFFFF;
  background-color: #D90404;
}

.container {
  padding: 6rem 12rem;
}
.container h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #353535;
  margin-bottom: 3rem;
}

.informacoes-cards-horizontal {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
}
.informacoes-cards-horizontal .acima {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
}
.informacoes-cards-horizontal .acima .spans {
  margin-bottom: 0.5rem;
}
.informacoes-cards-horizontal .acima .spans span {
  font-size: 0.6rem;
  font-weight: 0.6rem;
  border-radius: 10px;
  padding: 0.3rem 0.45rem;
}
.informacoes-cards-horizontal .acima .spans .pop {
  color: rgb(126, 0, 126);
  background-color: rgb(255, 228, 255);
}
.informacoes-cards-horizontal .acima .spans .freeshipping {
  color: #00894F;
  background-color: #D9F8EB;
}
.informacoes-cards-horizontal .acima .cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0.35rem;
}
.informacoes-cards-horizontal .acima .cta .btn-p-2, .informacoes-cards-horizontal .acima .cta header .extras .link-login, header .extras .informacoes-cards-horizontal .acima .cta .link-login,
.informacoes-cards-horizontal .acima .cta i {
  padding: 0.5rem;
  border-radius: 5px;
}
.informacoes-cards-horizontal .acima .cta .btn-p-2, .informacoes-cards-horizontal .acima .cta header .extras .link-login, header .extras .informacoes-cards-horizontal .acima .cta .link-login {
  font-size: 0.875rem;
}
.informacoes-cards-horizontal .acima .cta .btn-p-2:hover, .informacoes-cards-horizontal .acima .cta header .extras .link-login:hover, header .extras .informacoes-cards-horizontal .acima .cta .link-login:hover {
  scale: 1.02;
}
.informacoes-cards-horizontal .acima .cta i {
  font-size: 1rem;
  font-weight: 500;
  background-color: #D9F8EB;
  color: #00894F;
  transition: 0.4s;
  cursor: pointer;
}
.informacoes-cards-horizontal .acima .cta i:hover {
  background-color: #00894F;
  color: #D9F8EB;
}
.informacoes-cards-horizontal h3 {
  color: #353535;
  font-size: 1.25rem;
  margin-left: 0.4rem;
}
.informacoes-cards-horizontal .description {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  margin-left: 0.5rem;
}
.informacoes-cards-horizontal .description p {
  opacity: 0.7;
  font-weight: 300;
  font-size: 0.813rem;
}
.informacoes-cards-horizontal .description .sep {
  width: 5px;
  height: 1px;
  margin-top: 0.2rem;
  border-radius: 50%;
  background-color: #464646;
}
.informacoes-cards-horizontal .extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.informacoes-cards-horizontal .extras .avaliacoes {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 1.3rem;
  margin-left: 0.4rem;
  gap: 0;
  align-self: flex-start;
}
.informacoes-cards-horizontal .extras .avaliacoes i {
  color: #E8B209;
  cursor: pointer;
  transition: 0.4s;
}
.informacoes-cards-horizontal .extras .avaliacoes i:hover {
  transform: translateY(-1px);
}
.informacoes-cards-horizontal .extras .price {
  align-self: flex-end;
  font-weight: 700;
  font-size: 0.938rem;
  color: #464646;
}

.informacoes-cards-vertical {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
}
.informacoes-cards-vertical .acima {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
}
.informacoes-cards-vertical .acima .spans {
  margin-bottom: 0.3rem;
}
.informacoes-cards-vertical .acima .spans span {
  font-size: 0.65rem;
  font-weight: 0.7rem;
  border-radius: 10px;
  padding: 0.3rem 0.45rem;
}
.informacoes-cards-vertical .acima .spans .pop {
  color: rgb(126, 0, 126);
  background-color: rgb(255, 228, 255);
}
.informacoes-cards-vertical .acima .spans .freeshipping {
  color: #00894F;
  background-color: #D9F8EB;
}
.informacoes-cards-vertical .acima .cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0.1rem;
  margin-right: 0;
}
.informacoes-cards-vertical .acima .cta .btn-p-2, .informacoes-cards-vertical .acima .cta header .extras .link-login, header .extras .informacoes-cards-vertical .acima .cta .link-login,
.informacoes-cards-vertical .acima .cta i {
  scale: 0.8;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.informacoes-cards-vertical .acima .cta .btn-p-2, .informacoes-cards-vertical .acima .cta header .extras .link-login, header .extras .informacoes-cards-vertical .acima .cta .link-login {
  font-weight: 600;
  margin-right: 0;
}
.informacoes-cards-vertical .acima .cta .btn-p-2:hover, .informacoes-cards-vertical .acima .cta header .extras .link-login:hover, header .extras .informacoes-cards-vertical .acima .cta .link-login:hover {
  scale: 0.93;
}
.informacoes-cards-vertical .acima .cta i {
  font-size: 1rem;
  font-weight: 500;
  background-color: #D9F8EB;
  color: #00894F;
  transition: 0.4s;
  cursor: pointer;
}
.informacoes-cards-vertical .acima .cta i:hover {
  background-color: #00894F;
  color: #D9F8EB;
}
.informacoes-cards-vertical h3 {
  color: #353535;
  font-size: 1.25rem;
  margin-left: 0.4rem;
  margin-top: 0.5rem;
}
.informacoes-cards-vertical .description {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  margin-left: 0.5rem;
}
.informacoes-cards-vertical .description p {
  opacity: 0.7;
  font-weight: 300;
  font-size: 0.813rem;
}
.informacoes-cards-vertical .description .sep {
  width: 5px;
  height: 1px;
  margin-top: 0.2rem;
  border-radius: 50%;
  background-color: #464646;
}
.informacoes-cards-vertical .extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 3rem;
}
.informacoes-cards-vertical .extras .avaliacoes {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 0.7rem;
  margin-left: 0.4rem;
  gap: 0;
  align-self: flex-start;
}
.informacoes-cards-vertical .extras .avaliacoes i {
  color: #E8B209;
  cursor: pointer;
  transition: 0.4s;
}
.informacoes-cards-vertical .extras .avaliacoes i:hover {
  transform: translateY(-1px);
}
.informacoes-cards-vertical .extras .price {
  align-self: flex-end;
  font-weight: 700;
  font-size: 0.938rem;
  color: #464646;
}

/*======================================== PRINCIPAIS ANIMAÇÕES ======================================== */
/*======================================== CABEÇALHO ======================================== */
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  background-color: #FFFFFF;
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: sticky;
  top: 0;
  z-index: 88;
  /* LOGO */
  /* NAVBAR */
  /* EXTRAS */
}
header .burguer {
  display: none;
}
header .logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-decoration: none;
  color: #2a2a2a;
  font-weight: 600;
}
header .navbar {
  width: 500px;
  border: solid red;
}
header .navbar .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
header .navbar .nav-list .nav-link {
  color: #2a2a2a;
  transition: 0.4s;
}
header .navbar .nav-list .nav-link:hover {
  color: #D90404;
}
header .extras {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .extras .link-extra {
  color: #2a2a2a;
  transition: 0.4s;
}
header .extras .link-extra:hover i {
  transform: translateY(-2px);
}
header .extras .link-extra i {
  font-size: 1.25rem;
  font-weight: 500;
  margin-inline: 0.4rem;
  border-radius: 50%;
  transition: 0.4s;
  transition: 0.4s;
}
header .extras .link-extra i:hover {
  color: #D90404;
}
header .extras .link-login {
  margin-left: 3rem;
  color: #FFFFFF;
}

@media (max-width: 1150px) {
  header {
    position: relative;
  }
  header .navbar {
    position: absolute;
    top: 0;
    right: 0;
  }
  header .navbar .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
  }
  header .extras {
    position: absolute;
    margin-top: 2rem;
    right: 0;
  }
  header .burguer {
    display: block;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #212529;
  padding: 4rem 4rem 2rem;
}
footer .content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
footer .content .sessao .title {
  padding-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
}
footer .content .sessao .desc {
  gap: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}
footer .content .sessao .desc a {
  color: #909294;
  font-size: 0.938rem;
  opacity: 0.8;
}
footer .content .sessao .desc a:hover {
  opacity: 1;
}
footer .newslatter h3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #FFFFFF;
}
footer .newslatter .desc {
  gap: 1rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
}
footer .newslatter .desc p {
  font-size: 0.875rem;
  color: #909294;
}
footer .newslatter .desc input {
  width: 100%;
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
}
footer .separador {
  height: 1px;
  width: 100%;
  background-color: #696969;
  opacity: 0.5;
}
footer .copy {
  color: #909294;
  font-size: 0.813rem;
  opacity: 0.75;
}/*# sourceMappingURL=cart.css.map */