@charset "UTF-8";
/*======================================== IMPORTS ======================================== */
/* TIPO DE LETRA */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* OUTROS */
/*======================================== FONT FAMILY ======================================== */
/*======================================== FONT WEIGHT ======================================== */
/*======================================== FONT SIZE ======================================== */
/* 16px */
/* 14px */
/* 15px */
/* 20px */
/* 24px */
/* 28px */
/* 32px */
/* 32px */
/*======================================== BOX SHADOW ======================================== */
/*======================================== RADIUS BORDER ======================================== */
/*======================================== Z-INDEX ======================================== */
/*======================================== COLORES ======================================== */
/* GRAY */
/* WHITE */
/* BLACK */
/* BLACK FOOTER */
/* PRINCIPAIS */
/* OTHERS */
/* KINO CORES EXTRAÍDAS DO LOGO */
/*======================================== TAGS PRINCIPAIS ======================================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  font-size: 16px;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

li {
  list-style: none;
}

h1,
h2 {
  font-family: "Poppins", serif;
}

/*======================================== CLASSES PRINCIPAIS ======================================== */
.btn-p-1 {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #DEBB3B;
  border-radius: 5px;
  color: #FFFFFF;
  transition: 0.4s;
}
.btn-p-1:hover {
  opacity: 0.65;
}

.btn-p-2, .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1, header .extras .link-login {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #D90404;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.4s;
}
.btn-p-2:hover, .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1:hover, header .extras .link-login:hover {
  scale: 1.03;
  background-color: #c70000;
}

.btn-c, .HeroSwiper .hero-slide-2 .content .cta .cta-botao-2 {
  padding: 0.5rem 1rem;
  outline: 1px solid #858585;
  background-color: transparent;
  border-radius: 5px;
  color: #858585;
  cursor: pointer;
  transition: 0.4s;
}
.btn-c:hover, .HeroSwiper .hero-slide-2 .content .cta .cta-botao-2:hover {
  color: #FFFFFF;
  background-color: #858585;
}

.btn-s {
  padding: 0.5rem 1rem;
  border: 1px solid #D90404;
  background-color: transparent;
  border-radius: 5px;
  color: #D90404;
  transition: 0.4s;
}
.btn-s:hover {
  color: #FFFFFF;
  background-color: #D90404;
}

.container, .food, .empresas, .filtersearch, .descontos-especiais, .locais, .services, .destaque {
  padding: 6rem 12rem;
}
.container h2, .food h2, .empresas h2, .filtersearch h2, .descontos-especiais h2, .locais h2, .services h2, .destaque h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #2a2a2a;
  margin-bottom: 3rem;
}

.informacoes-cards-horizontal, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
}
.informacoes-cards-horizontal .acima, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
}
.informacoes-cards-horizontal .acima .spans, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .spans {
  margin-bottom: 0.5rem;
}
.informacoes-cards-horizontal .acima .spans span, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .spans span {
  font-size: 0.6rem;
  font-weight: 0.6rem;
  border-radius: 10px;
  padding: 0.3rem 0.45rem;
}
.informacoes-cards-horizontal .acima .spans .pop, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .spans .pop {
  color: rgb(126, 0, 126);
  background-color: rgb(255, 228, 255);
}
.informacoes-cards-horizontal .acima .spans .freeshipping, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .spans .freeshipping {
  color: #00894F;
  background-color: #D9F8EB;
}
.informacoes-cards-horizontal .acima .cta, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0.35rem;
}
.informacoes-cards-horizontal .acima .cta .btn-p-2, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .btn-p-2, .informacoes-cards-horizontal .acima .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1, .HeroSwiper .hero-slide-2 .content .informacoes-cards-horizontal .acima .cta .cta-botao-1, .HeroSwiper .hero-slide-2 .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .cta-botao-1, .filtersearch .HeroSwiper .hero-slide-2 .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .cta-botao-1, .informacoes-cards-horizontal .acima .cta header .extras .link-login, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta header .extras .link-login, header .extras .informacoes-cards-horizontal .acima .cta .link-login, header .extras .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .link-login, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos header .extras .info .acima .cta .link-login,
.informacoes-cards-horizontal .acima .cta i,
.filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta i {
  padding: 0.5rem;
  border-radius: 5px;
}
.informacoes-cards-horizontal .acima .cta .btn-p-2, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .btn-p-2, .informacoes-cards-horizontal .acima .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1, .HeroSwiper .hero-slide-2 .content .informacoes-cards-horizontal .acima .cta .cta-botao-1, .HeroSwiper .hero-slide-2 .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .cta-botao-1, .filtersearch .HeroSwiper .hero-slide-2 .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .cta-botao-1, .informacoes-cards-horizontal .acima .cta header .extras .link-login, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta header .extras .link-login, header .extras .informacoes-cards-horizontal .acima .cta .link-login, header .extras .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .link-login, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos header .extras .info .acima .cta .link-login {
  font-size: 0.875rem;
}
.informacoes-cards-horizontal .acima .cta .btn-p-2:hover, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .btn-p-2:hover, .informacoes-cards-horizontal .acima .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1:hover, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1:hover, .HeroSwiper .hero-slide-2 .content .informacoes-cards-horizontal .acima .cta .cta-botao-1:hover, .HeroSwiper .hero-slide-2 .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .cta-botao-1:hover, .filtersearch .HeroSwiper .hero-slide-2 .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .cta-botao-1:hover, .informacoes-cards-horizontal .acima .cta header .extras .link-login:hover, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta header .extras .link-login:hover, header .extras .informacoes-cards-horizontal .acima .cta .link-login:hover, header .extras .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .link-login:hover, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos header .extras .info .acima .cta .link-login:hover {
  scale: 1.02;
}
.informacoes-cards-horizontal .acima .cta i, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta i {
  font-size: 1rem;
  font-weight: 500;
  background-color: #D9F8EB;
  color: #00894F;
  transition: 0.4s;
  cursor: pointer;
}
.informacoes-cards-horizontal .acima .cta i:hover, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta i:hover {
  background-color: #00894F;
  color: #D9F8EB;
}
.informacoes-cards-horizontal h3, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info h3 {
  color: #353535;
  font-size: 1.25rem;
  margin-left: 0.4rem;
}
.informacoes-cards-horizontal .description, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .description {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  margin-left: 0.5rem;
}
.informacoes-cards-horizontal .description p, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .description p {
  opacity: 0.7;
  font-weight: 300;
  font-size: 0.813rem;
}
.informacoes-cards-horizontal .description .sep, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .description .sep {
  width: 5px;
  height: 1px;
  margin-top: 0.2rem;
  border-radius: 50%;
  background-color: #464646;
}
.informacoes-cards-horizontal .extras, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.informacoes-cards-horizontal .extras .avaliacoes, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .extras .avaliacoes {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 1.3rem;
  margin-left: 0.4rem;
  gap: 0;
  align-self: flex-start;
}
.informacoes-cards-horizontal .extras .avaliacoes i, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .extras .avaliacoes i {
  color: #E8B209;
  cursor: pointer;
  transition: 0.4s;
}
.informacoes-cards-horizontal .extras .avaliacoes i:hover, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .extras .avaliacoes i:hover {
  transform: translateY(-1px);
}
.informacoes-cards-horizontal .extras .price, .filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos .info .extras .price {
  align-self: flex-end;
  font-weight: 700;
  font-size: 0.938rem;
  color: #464646;
}

.informacoes-cards-vertical, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
}
.informacoes-cards-vertical .acima, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
}
.informacoes-cards-vertical .acima .spans, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .spans {
  margin-bottom: 0.3rem;
}
.informacoes-cards-vertical .acima .spans span, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .spans span {
  font-size: 0.65rem;
  font-weight: 0.7rem;
  border-radius: 10px;
  padding: 0.3rem 0.45rem;
}
.informacoes-cards-vertical .acima .spans .pop, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .spans .pop {
  color: rgb(126, 0, 126);
  background-color: rgb(255, 228, 255);
}
.informacoes-cards-vertical .acima .spans .freeshipping, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .spans .freeshipping {
  color: #00894F;
  background-color: #D9F8EB;
}
.informacoes-cards-vertical .acima .cta, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0.1rem;
  margin-right: 0;
}
.informacoes-cards-vertical .acima .cta .btn-p-2, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .btn-p-2, .informacoes-cards-vertical .acima .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1, .HeroSwiper .hero-slide-2 .content .informacoes-cards-vertical .acima .cta .cta-botao-1, .HeroSwiper .hero-slide-2 .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .cta-botao-1, .food .HeroSwiper .hero-slide-2 .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .cta-botao-1, .informacoes-cards-vertical .acima .cta header .extras .link-login, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta header .extras .link-login, header .extras .informacoes-cards-vertical .acima .cta .link-login, header .extras .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .link-login, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos header .extras .info .acima .cta .link-login,
.informacoes-cards-vertical .acima .cta i,
.food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta i {
  scale: 0.8;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.informacoes-cards-vertical .acima .cta .btn-p-2, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .btn-p-2, .informacoes-cards-vertical .acima .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1, .HeroSwiper .hero-slide-2 .content .informacoes-cards-vertical .acima .cta .cta-botao-1, .HeroSwiper .hero-slide-2 .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .cta-botao-1, .food .HeroSwiper .hero-slide-2 .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .cta-botao-1, .informacoes-cards-vertical .acima .cta header .extras .link-login, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta header .extras .link-login, header .extras .informacoes-cards-vertical .acima .cta .link-login, header .extras .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .link-login, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos header .extras .info .acima .cta .link-login {
  font-weight: 600;
  margin-right: 0;
}
.informacoes-cards-vertical .acima .cta .btn-p-2:hover, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .btn-p-2:hover, .informacoes-cards-vertical .acima .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1:hover, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1:hover, .HeroSwiper .hero-slide-2 .content .informacoes-cards-vertical .acima .cta .cta-botao-1:hover, .HeroSwiper .hero-slide-2 .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .cta-botao-1:hover, .food .HeroSwiper .hero-slide-2 .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .cta-botao-1:hover, .informacoes-cards-vertical .acima .cta header .extras .link-login:hover, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta header .extras .link-login:hover, header .extras .informacoes-cards-vertical .acima .cta .link-login:hover, header .extras .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta .link-login:hover, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos header .extras .info .acima .cta .link-login:hover {
  scale: 0.93;
}
.informacoes-cards-vertical .acima .cta i, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta i {
  font-size: 1rem;
  font-weight: 500;
  background-color: #D9F8EB;
  color: #00894F;
  transition: 0.4s;
  cursor: pointer;
}
.informacoes-cards-vertical .acima .cta i:hover, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .acima .cta i:hover {
  background-color: #00894F;
  color: #D9F8EB;
}
.informacoes-cards-vertical h3, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info h3 {
  color: #353535;
  font-size: 1.25rem;
  margin-left: 0.4rem;
  margin-top: 0.5rem;
}
.informacoes-cards-vertical .description, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .description {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  margin-left: 0.5rem;
}
.informacoes-cards-vertical .description p, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .description p {
  opacity: 0.7;
  font-weight: 300;
  font-size: 0.813rem;
}
.informacoes-cards-vertical .description .sep, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .description .sep {
  width: 5px;
  height: 1px;
  margin-top: 0.2rem;
  border-radius: 50%;
  background-color: #464646;
}
.informacoes-cards-vertical .extras, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 3rem;
}
.informacoes-cards-vertical .extras .avaliacoes, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .extras .avaliacoes {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 0.7rem;
  margin-left: 0.4rem;
  gap: 0;
  align-self: flex-start;
}
.informacoes-cards-vertical .extras .avaliacoes i, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .extras .avaliacoes i {
  color: #E8B209;
  cursor: pointer;
  transition: 0.4s;
}
.informacoes-cards-vertical .extras .avaliacoes i:hover, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .extras .avaliacoes i:hover {
  transform: translateY(-1px);
}
.informacoes-cards-vertical .extras .price, .food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info .extras .price {
  align-self: flex-end;
  font-weight: 700;
  font-size: 0.938rem;
  color: #464646;
}

/*======================================== CABEÇALHO ======================================== */
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  background-color: #FFFFFF;
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: sticky;
  top: 0;
  z-index: 88;
  /* LOGO */
  /* NAVBAR */
  /* EXTRAS */
}
header .logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-decoration: none;
  color: #2a2a2a;
  font-weight: 600;
}
header .navbar .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
header .navbar .nav-list .nav-link {
  color: #2a2a2a;
  transition: 0.4s;
}
header .navbar .nav-list .nav-link:hover {
  color: #D90404;
}
header .extras {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
header .extras .link-extra {
  color: #2a2a2a;
  transition: 0.4s;
}
header .extras .link-extra:hover i {
  transform: translateY(-2px);
}
header .extras .link-extra i {
  font-size: 1.25rem;
  font-weight: 500;
  margin-inline: 0.4rem;
  border-radius: 50%;
  transition: 0.4s;
  transition: 0.4s;
}
header .extras .link-extra i:hover {
  color: #D90404;
}
header .extras .link-login {
  margin-left: 3rem;
  color: #FFFFFF;
}

/*======================================== HERO - BANNER EM CARROSSEL ======================================== */
.HeroSwiper {
  width: 100%;
  height: 500px;
  background-color: #FFFFFF;
}
.HeroSwiper .hero-slide-1 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}
.HeroSwiper .hero-slide-1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.HeroSwiper .hero-slide-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.HeroSwiper .hero-slide-1 .content {
  position: relative;
  z-index: 3;
}
.HeroSwiper .hero-slide-1::before {
  background-color: rgba(0, 0, 0, 0.4);
}
.HeroSwiper .hero-slide-1 img {
  filter: blur(3px);
}
.HeroSwiper .hero-slide-1 .content {
  text-align: center;
  margin: auto;
  padding: 1.5rem;
  width: 800px;
}
.HeroSwiper .hero-slide-1 .content h1 {
  color: #FFFFFF;
  font-size: 3rem;
}
.HeroSwiper .hero-slide-1 .content p {
  margin-top: 1rem;
  padding-inline: 3rem;
  color: #B8B8B8;
}
.HeroSwiper .hero-slide-1 .content form {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  transition: 0.4s;
  margin-top: 2rem;
  margin-inline: auto;
  width: 500px;
  border-radius: 5px;
}
.HeroSwiper .hero-slide-1 .content form:hover {
  outline: 2px solid #D90404;
}
.HeroSwiper .hero-slide-1 .content form button {
  background-color: #f8f8f8;
  padding: 0.7rem 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  outline: none;
}
.HeroSwiper .hero-slide-1 .content form button i {
  font-weight: 600;
  color: #D90404;
}
.HeroSwiper .hero-slide-1 .content form input {
  flex-grow: 1;
  background-color: white;
  padding: 0.7rem 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}
.HeroSwiper .hero-slide-2 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 5rem;
}
.HeroSwiper .hero-slide-2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.HeroSwiper .hero-slide-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.HeroSwiper .hero-slide-2 .content {
  position: relative;
  z-index: 3;
}
.HeroSwiper .hero-slide-2::before {
  background-color: rgba(0, 0, 0, 0.4);
}
.HeroSwiper .hero-slide-2 .content {
  padding: 3rem 3rem 3rem 0;
}
.HeroSwiper .hero-slide-2 .content .paragrafito {
  color: #DEBB3B;
  font-size: 0.875rem;
}
.HeroSwiper .hero-slide-2 .content h2 {
  color: #FFFFFF;
  font-size: 3rem;
}
.HeroSwiper .hero-slide-2 .content .desc {
  font-size: 1rem;
  color: #B8B8B8;
  opacity: 0.9;
}
.HeroSwiper .hero-slide-2 .content .cta {
  margin-top: 4rem;
}
.HeroSwiper .hero-slide-2 .content .cta .cta-botao-1,
.HeroSwiper .hero-slide-2 .content .cta .cta-botao-2 {
  font-size: 0.938rem;
  font-weight: 500;
}
.HeroSwiper .hero-slide-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}
.HeroSwiper .hero-slide-3 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.HeroSwiper .hero-slide-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.HeroSwiper .hero-slide-3 .content {
  position: relative;
  z-index: 3;
}
.HeroSwiper .hero-slide-3::before {
  background-color: rgba(0, 0, 0, 0.226);
}
.HeroSwiper .hero-slide-3 img {
  filter: blur(2px);
}
.HeroSwiper .hero-slide-3 .content {
  width: 800px;
  text-align: center;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.HeroSwiper .hero-slide-3 .content h1 {
  color: #FFFFFF;
  font-size: 3rem;
}
.HeroSwiper .hero-slide-3 .content p {
  color: #B8B8B8;
}
.HeroSwiper .hero-slide-3 .content .btn-p-2, .HeroSwiper .hero-slide-3 .content header .extras .link-login, header .extras .HeroSwiper .hero-slide-3 .content .link-login, .HeroSwiper .hero-slide-3 .hero-slide-2 .content .cta .cta-botao-1, .HeroSwiper .hero-slide-2 .hero-slide-3 .content .cta .cta-botao-1 {
  margin-top: 1rem;
  font-weight: 500;
}
.HeroSwiper .swiper-pagination-bullet,
.HeroSwiper .swiper-pagination-bullet-active {
  background-color: #d55c5c;
}

/*======================================== DESTAQUE DA SEMANA ======================================== */
.destaque {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #FFFFFF;
}
.destaque .content {
  display: grid;
  grid-template-columns: repeat(2, 450px);
  gap: 0;
}
.destaque .content img {
  flex-grow: 1;
}
.destaque .content .desc {
  flex-grow: 1;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}
.destaque .content .desc h3 {
  font-size: 3rem;
  color: #2a2a2a;
}
.destaque .content .desc p {
  font-weight: 200;
  margin-top: 0.5rem;
}
.destaque .content .desc .botoes {
  margin-top: 2rem;
  gap: 2rem;
}
.destaque .content .desc .botoes .btn-c, .destaque .HeroSwiper .hero-slide-2 .content .desc .botoes .cta .cta-botao-2, .HeroSwiper .hero-slide-2 .destaque .content .desc .botoes .cta .cta-botao-2, .destaque .HeroSwiper .hero-slide-2 .content .cta .desc .botoes .cta-botao-2, .HeroSwiper .hero-slide-2 .destaque .content .cta .desc .botoes .cta-botao-2 {
  margin-left: 0.5rem;
}

/*======================================== SERVIÇOS ======================================== */
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F4F2F2;
}
.services .content {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  text-align: center;
  place-items: center;
  margin: auto;
  padding: 2rem;
  gap: 2rem;
}
.services .content .service-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 5px;
  padding: 1.5rem;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.services .content .service-card i {
  font-size: 4rem;
  color: #D90404;
}
.services .content .service-card h3 {
  color: #464646;
  font-size: 1rem;
}
.services .content .service-card p {
  color: #858585;
  font-weight: 300;
  font-size: 0.813rem;
}

/*======================================== LOCAIS DE LAZER ======================================== */
.locais {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
}
.locais .content {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 2rem;
  margin: 1rem 0 4rem;
}
.locais .content .link-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: 250px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: 0.4s;
}
.locais .content .link-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.064);
  z-index: 2;
}
.locais .content .link-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 1;
  transition: 0.4s;
}
.locais .content .link-card h3 {
  position: absolute;
  transform: translateY(100px);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  color: #FFFFFF;
  transition: 0.4s;
}
.locais .content .link-card h3:hover {
  text-decoration: underline;
}
.locais .content .link-card:hover {
  scale: 1.03;
}
.locais .content .link-card:hover h3 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.locais .content .link-card:hover img {
  filter: blur(1px);
}
.locais .content .btn-p-2, .locais .content header .extras .link-login, header .extras .locais .content .link-login, .locais .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1, .HeroSwiper .hero-slide-2 .locais .content .cta .cta-botao-1 {
  font-weight: 600;
}
.locais .content .btn-p-2:hover, .locais .content header .extras .link-login:hover, header .extras .locais .content .link-login:hover, .locais .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1:hover, .HeroSwiper .hero-slide-2 .locais .content .cta .cta-botao-1:hover {
  outline: 2px solid #D90404;
  background-color: #FFFFFF;
  color: #D90404;
}

/*======================================== DESCONTOS ESPECIAIS ======================================== */
.descontos-especiais {
  position: relative;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}
.descontos-especiais::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/back (8).png") no-repeat bottom/cover;
  background-color: rgba(0, 0, 0, 0.442);
  background-blend-mode: darken;
  z-index: 1;
  filter: blur(2px);
}
.descontos-especiais .content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  padding: 2rem;
  gap: 1rem;
  text-align: center;
  z-index: 2;
}
.descontos-especiais .content h3 {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 1.75rem;
}
.descontos-especiais .content p {
  font-weight: 500;
  color: #B8B8B8;
}
.descontos-especiais .content .btn-p-2, .descontos-especiais .content header .extras .link-login, header .extras .descontos-especiais .content .link-login, .descontos-especiais .HeroSwiper .hero-slide-2 .content .cta .cta-botao-1, .HeroSwiper .hero-slide-2 .descontos-especiais .content .cta .cta-botao-1 {
  font-size: 0.938rem;
}

/*======================================== PESQUISA FILTRADA & MAP ======================================== */
.filtersearch {
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  gap: 1rem;
}
.filtersearch h2 {
  width: 100%;
  flex: 100%;
  margin: auto;
  font-size: 1.5rem;
  text-transform: none;
  color: #003789;
  padding: 1.5rem;
  background-color: #d9e8f8;
  border-radius: 10px;
}
.filtersearch .content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.filtersearch .content .tools {
  position: relative;
  flex-grow: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  border-radius: 5px;
}
.filtersearch .content .tools input,
.filtersearch .content .tools button {
  border: none;
  font-size: 1.25rem;
  background-color: #FFFFFF;
}
.filtersearch .content .tools .btn-lupa {
  padding: 0.8rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.filtersearch .content .tools .btn-input-text {
  padding: 0.8rem;
  flex: 65%;
  font-size: 1rem;
}
.filtersearch .content .tools .btn-close {
  padding: 0.4rem;
  cursor: pointer;
  color: #d55c5c;
}
.filtersearch .content .tools .btn-close i {
  border-radius: 10px;
  padding: 0.4rem;
  transition: 0.4s;
}
.filtersearch .content .tools .btn-close i:hover {
  background-color: #f8f8f8;
  color: #D90404;
}
.filtersearch .content .tools .btn-filtro {
  color: #353535;
  padding: 0.3rem;
  padding-right: 0.8rem;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.filtersearch .content .tools .btn-filtro i {
  font-size: 0.875rem;
  border-radius: 10px;
  padding: 0.5rem;
  transition: 0.4s;
}
.filtersearch .content .tools .btn-filtro i:hover {
  background-color: #FAFAFA;
  color: #858585;
}
.filtersearch .content .tools:hover .resultados {
  display: block;
}
.filtersearch .content .tools .resultados {
  display: none;
  position: absolute;
  flex-grow: 1;
  padding: 1rem;
  background-color: #FFFFFF;
  width: 100%;
  top: 110%;
  left: 0;
  border-radius: 10px;
  transition: 0.4s;
  z-index: 3;
}
.filtersearch .content .tools .resultados h3 {
  color: #B8B8B8;
  font-size: 1rem;
}
.filtersearch .content .tools .resultados .resultado {
  display: none;
  width: 100%;
  padding: 2rem;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}
.filtersearch .content .PesquisaSwiper {
  position: relative;
  padding: 1rem;
  max-width: 550px;
  width: 100%;
  height: 100%;
  padding-bottom: 5.5rem;
  z-index: 2;
}
.filtersearch .content .PesquisaSwiper .swiper-button-prev,
.filtersearch .content .PesquisaSwiper .swiper-button-next {
  position: absolute;
  top: 3%;
  scale: 0.37;
  font-weight: 800;
  color: #B8B8B8;
  background-color: #FFFFFF;
  padding: 3rem;
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: 0.4s;
}
.filtersearch .content .PesquisaSwiper .swiper-button-prev:hover,
.filtersearch .content .PesquisaSwiper .swiper-button-next:hover {
  background-color: #F4F2F2;
  color: #D90404;
  scale: 0.4;
}
.filtersearch .content .PesquisaSwiper .swiper-button-prev {
  left: 75%;
  z-index: 3;
}
.filtersearch .content .PesquisaSwiper .swiper-button-next {
  right: 0%;
}
.filtersearch .content .PesquisaSwiper .swiper-wrapper {
  padding: 0 2rem 0 0;
  margin-top: 3.5rem;
  background-color: #f8f8f8;
}
.filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  border-radius: 10px;
  background-color: #FFFFFF;
  gap: 1rem;
  background-color: #f8f8f8;
}
.filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
  background-color: #FFFFFF;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  gap: 0.5rem;
  cursor: pointer;
}
.filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos img {
  width: 120px;
  border-radius: 10px;
  transition: 0.4s;
}
.filtersearch .content .PesquisaSwiper .swiper-wrapper .swiper-slide .card-pratos img:hover {
  scale: 1.02;
}
.filtersearch .content .PesquisaSwiper .swiper-pagination-bullet,
.filtersearch .content .PesquisaSwiper .swiper-pagination-bullet-active {
  background-color: #d55c5c;
  font-size: 0.813rem;
  padding: 0.5rem;
}
.filtersearch .content .PesquisaSwiper .swiper-pagination-bullet p,
.filtersearch .content .PesquisaSwiper .swiper-pagination-bullet-active p {
  margin-top: -8px;
  margin-left: -3px;
  color: white;
}
.filtersearch .search-map {
  width: 500px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 5px;
  background-color: #f8f8f8;
}

/*======================================== EMPRESAS ======================================== */
.empresas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F9E8CC;
}
.empresas h2 {
  color: #d55c5c;
}
.empresas .content {
  width: 100%;
  flex-grow: 1;
}
.empresas .content .EmpresasSwiper {
  background-color: #FFFFFF;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 5rem 0 6rem;
  border-radius: 10px;
}
.empresas .content .EmpresasSwiper .swiper-wrapper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.empresas .content .EmpresasSwiper .swiper-wrapper .swiper-slide .link-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 2.5rem;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: #FFFFFF;
  margin-bottom: 1rem;
  transition: 0.4s;
}
.empresas .content .EmpresasSwiper .swiper-wrapper .swiper-slide .link-img:hover {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.4);
}
.empresas .content .EmpresasSwiper .swiper-wrapper .swiper-slide .link-img img {
  transition: 0.4s;
  width: 120%;
}
.empresas .content .EmpresasSwiper .swiper-wrapper .swiper-slide .link-img:hover img {
  scale: 1.1;
}
.empresas .content .EmpresasSwiper .swiper-wrapper .swiper-slide .link-title {
  font-weight: 600;
  color: #464646;
  transition: 0.4s;
  font-size: 1rem;
}
.empresas .content .EmpresasSwiper .swiper-wrapper .swiper-slide .link-title:hover {
  opacity: 0.6;
}
.empresas .content .EmpresasSwiper .swiper-pagination-bullet,
.empresas .content .EmpresasSwiper .swiper-pagination-bullet-active {
  background-color: #d55c5c;
}

/*======================================== FOOD ======================================== */
.food {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.food h2 {
  font-size: 1.75rem;
  text-transform: none;
}
.food .content {
  width: 100%;
  flex-grow: 1;
}
.food .content .FoodSwiper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  padding: 4rem 1rem 4rem;
  z-index: 1;
}
.food .content .FoodSwiper .swiper-button-prev,
.food .content .FoodSwiper .swiper-button-next {
  position: absolute;
  top: 0%;
  scale: 0.37;
  font-weight: 800;
  color: #B8B8B8;
  background-color: #FFFFFF;
  padding: 3rem;
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: 0.4s;
  z-index: 3;
}
.food .content .FoodSwiper .swiper-button-prev:hover,
.food .content .FoodSwiper .swiper-button-next:hover {
  background-color: #f8f8f8;
  scale: 0.4;
}
.food .content .FoodSwiper .swiper-button-prev {
  left: 87.6%;
  z-index: 3;
}
.food .content .FoodSwiper .swiper-button-next {
  right: 0%;
}
.food .content .FoodSwiper .swiper-wrapper {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.food .content .FoodSwiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  place-items: center;
}
.food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 10px;
}
.food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.food .content .FoodSwiper .swiper-wrapper .swiper-slide .card-pratos .info {
  padding: 0.7rem;
  background-color: #FFFFFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.food .content .FoodSwiper .swiper-pagination-bullet,
.food .content .FoodSwiper .swiper-pagination-bullet-active {
  background-color: #d55c5c;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #2a2a2a;
  padding: 4rem;
}
footer .content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: solid red;
}
footer .content .sessao .title {
  font-size: 1rem;
  font-weight: 600;
  color: #B8B8B8;
}
footer .content .sessao .desc {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}
footer .content .sessao .desc a {
  color: #696969;
  font-size: 0.938rem;
  font-weight: 500;
}
footer .separador {
  height: 1px;
  width: 100%;
  background-color: #696969;
  opacity: 0.65;
}
footer .copy {
  color: #696969;
  font-size: 0.813rem;
}/*# sourceMappingURL=styles.css.map */