/*======================================== TIPOGRAFIA ======================================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {

    /*======================================== FONT FAMILY ======================================== */
    --family-body: "Inter", serif;
    --family-title: "Poppins", serif;

    /*======================================== FONT WEIGHT ======================================== */
    --weight-extralight: 200;
    --weight-light: 300;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
    --weight-extrabold: 800;
    --weight-black: 800;

    /*======================================== FONT SIZE ======================================== */
    --size-base: 1rem;
    /* 16px */
    --size-small: .875rem;
    /* 14px */
    --size-smaller: .938rem;
    /* 15px */
    --size-large: 1.25rem;
    /* 20px */
    --size-x-large: 1.5rem;
    /* 24px */
    --size-big: 1.75rem;
    /* 28px */
    --size-biggest: 2rem;
    /* 32px */
    --size-super-biggest: 3rem;
    /* 32px */

    /*======================================== BOX SHADOW ======================================== */
    --shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    /*======================================== RADIUS BORDER ======================================== */
    --radius-first: 5px;
    --radius-second: 10px;
    --radius-third: 30px;

    /*======================================== Z-INDEX ======================================== */
    --z-indez-1: 99;
    --z-indez-2: 88;
    --z-indez-3: 77;
    --z-indez-4: 66;
    --z-indez-5: 55;

    /*======================================== COLORES ======================================== */
    /* GRAY */
    --color-gray-light: #F4F2F2;
    --color-gray-base: #D9D9D9;
    --color-gray-base-2: #D1CFCF;
    --color-gray-dark: #B8B8B8;
    --color-gray-darkness: #858585;

    /* WHITE */
    --color-white: #FFFFFF;
    --color-white-background: #f8f8f8;
    --color-white-2: #edf2f7;
    --color-white-3: #f2f2f2;

    /* BLACK */
    --color-black: #212529;
    --color-black-2: #353535;
    --color-black-3: #464646;

    /* PRINCIPAIS */
    --color-red: #D90404;
    --color-red-light: #d55c5c;
    --color-red-black: #590808;
    --color-beige-light: #F9E8CC;
    --color-beige-base: #FFC777;
    --color-beige-darkness: #DE9857;

    /* OTHERS */
    --color-green: #01E397;
    --color-green-2: #18E49F;
    --color-green-2-light: #EAFAF0;
    --color-green-3: #1FC7CB;
    --color-green-3-light: #E7F9F9;
    --color-orange: #FA8544;
    --color-red-light: #ffcece;
    --color-yellow: #E8B209;

}



/*======================================== TAGS PRINCIPAIS ======================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--family-body);
    font-size: 16px;
    background-color: var(--color-white-background);
}

a {
    text-decoration: none;
    transition: .4s;
}

li {
    list-style: none;
}

h1,
h2 {
    font-family: var(--family-title);
}


/*======================================== CABEÇALHO ======================================== */

/*======================================== HERO - BANNER CARROSSEL ======================================== */

/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */
/*======================================== TIPOGRAFIA ======================================== */